/**
 * SPDX-FileCopyrightText: 2022 Zeal 8-bit Computer <contact@zeal8bit.com>
 * 
 * SPDX-License-Identifier: Apache-2.0
 */

 body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    background-color: #002b36;
    color: #93a1a1;
}

#debug {
    background-color:#093642;
    vertical-align: top;
    box-shadow: 5px 0 10px -4px #040404;
    margin: 0;
    display: inline-block;
    height: 65vh;
    width:15em;
}

#debug table {
    font-size:14pt;
    width: 100%;
    border: 0;
    border-collapse:collapse;
}

#debug table:after {
    content: " ";
    display: block;
    background: #939f8f;
    height: 1px;
    margin: 0em auto;
    width: 8em;
}

hr {
    content: " ";
    display: block;
    background: #939f8f;
    height: 1px;
    margin: 2em auto;
    border: none;
}

#debug table td {
    padding-left: 0.5em;
}

#debug table tr:nth-child(2n) {
    background-color: #042d38;
}


#debug table tr:hover {
    background-color: #0a4d5f;
}

#container {
    display: inline-block;
    width: calc(100% - 15em - 15em);
}

#screen {
    display: block;
    margin: 2em auto;
    background-color: black;
}

#rightpanel {
    position: absolute;
    right: 0;
    background-color:#093642;
    color: #93a1a1;
    vertical-align: top;
    box-shadow: -5px 0 5px -3px #040404;
    margin: 0 0 0em 2em;
    display: inline-block;
    height: 65vh;
    width:15em;
    padding: 1em;
    box-sizing: border-box;
}

#romfile {
    margin-top: 1em;
    position: static;
    display: inline-block;
    bottom: 0;
}

#breakpoints {
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

#bps {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#bps li {
    margin-left: -1.2em;
    padding-left: 1.5em;
    line-height: 3em;
    font-family: monospace;
    width: 102%;
    user-select: none;
}

#bps li:hover {
    background-color: #0a4d5f;
    cursor: pointer;
}

#bps li::before {
    text-align: center;
    display: inline-block;
    content: "⬤";
    width: 1.5em;
    padding-right: 1em;
    color: rgb(163, 49, 34);
}

#bps li.disabled::before {
    text-align: center;
    display: inline-block;
    content: "•";
    width: 1.5em;
    color: grey;
}

.status:not(.ready)::before {
    text-align: center;
    display: inline-block;
    content: "•";
    width: 1.5em;
    color: grey;
}

.status.ready::before {
    text-align: center;
    display: inline-block;
    content: "✓";
    width: 1.5em;
    color: rgb(93, 199, 63);
}

.bottompanel {
    position: relative;   
}

.hidden {
    display: none !important;
}

.tabs {
    position: relative;
    z-index: 4;
}

.tab {
    cursor: pointer;
    position: relative;
    left: 1em;
    bottom: -0.2em;
    display: inline-block;
    min-width: 10em;
    line-height: 2.5em;
    margin-right: 1em;
    text-align: center;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #6d6d6d;
    background: linear-gradient(0deg, #093642, #002b36 30%);
}

.tab.active {
    color: #93a1a1;
    background: inherit;
    background-color: #093642 !important;
}

.panel {
    position: relative;
    z-index: 3;
    border-top: 2px black solid;
    font-family: monospace;
    font-size: 11pt;
    display: inline-block;
    width: 100%;
    height: 34vh;
    background-color:#093642;
    padding-top: 1em;
    padding-left: 0.5em;
    cursor: pointer;
    overflow-y:scroll;
    box-sizing: border-box;
    user-select: none;
}

.dumpline {
    white-space: pre;
}

.dumpline.activeline {
    background-color: #93a1a1;
    color: #042d38;
}

.memaddr {
    display: inline-block;
    color: #268bd2;
    font-weight: bold;
}

.membytes {
    display: inline-block;
    padding-left:1.5em;
}

.membytes div {
    display: inline-block;
    padding: 0 0.37em 0 0.37em;
    line-height: 1.5em;
}


.membytes div.selected {
    background-color: #0a4d5f;
}


h3 {
    margin-left: 0.5em;
    margin-top: 0.75em;
}

.hide .memline {
    display: none !important;
}