#blackbg {
    display: none;
    position: fixed;
    background-color: #000000b5;
    z-index: 19;
    width: 100vw;
    height: 100vh;
}

.popup {
    display: none;
    position: absolute;
    left: calc(50% - 40vw);
    width: 80vw;
    top: 3vh;
    padding: 0.5em 1em 1em 1em;
    margin-bottom: 10em;
    border-radius: 10px;
    color:#3f3f3f;
    z-index: 20;
    background:#ffffff;
    border: 1px solid black;
    font-size:13pt;
    overflow-y: scroll;
    max-height: 89vh;
}

.popup figure {
    text-align: center;
}

.popup img {
    max-width: 100%;
    max-height: 25em;
}

.popup figcaption {
    text-align: center;
    font-style:italic;
}